.container {
    display: flex;
    align-items: center;
    max-width: 600px;
}
.title{
    color: #555;
}
form{
    display: flex;
    flex-direction: column;
    width: 90%;
}
button {
    margin: 20px 15px 0 0 ;
}