<!-- <app-header></app-header>
<app-nav></app-nav>
<app-footer></app-footer> -->
<!-- <div class="home">
    <div class="internal">
        <app-observable></app-observable>
    </div> -->
    <!-- <div class="internal">
        <app-observable2></app-observable2>
    </div>
    <div class="internal">
        <app-observable3></app-observable3>
    </div> -->
<!-- </div> -->
<!-- <timepicker [(ngModel)]="mytime"></timepicker>
    <pre class="alert alert-info">Time is: {{mytime}}</pre> -->
<!-- <app-rxjs></app-rxjs> -->

<router-outlet></router-outlet>
<button routerLink="/ngrx">NgRx</button>